<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        {{el_contacto.as_p}}
        <input type="submit" value="Guardar">
    </form>
</body>
</html>