<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Repartidor</title>
</head>
<body>
{{ el_titulo }}<br>
<p>REGISTRO DE REPARTIDORES</p>
<form method="POST" action="">{% csrf_token %}
{{ el_formulario.as_p }}
<input type="submit" value="Guardar">
</form>
</body>
</html>